@{
    ViewData["Title"] = "Payment Cancelled";
}

<h2>@ViewData["Title"]</h2>
<p>Pagesa juaj u anulua. Ju mund të <a asp-controller="Cart" asp-action="MyCart">ktheheni te shporta</a> ose të provoni përsëri.</p>

