@{
    ViewData["Title"] = "Payment Successful";
}

<h2>@ViewData["Title"]</h2>
<p>Faleminderit! Pagesa juaj u realizua me sukses. Mund të <a asp-controller="Clients" asp-action="Index">vazhdoni me blerjet</a>.</p>

